/* Standard Elements */
body {
  background-color: #393e46;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

/* Background Colors */
.color-section {
  background-color: #00adb5;
  color: #fff;
}

.dark-section {
  background-color: #393e46;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: #000;
}

.navbar {
  padding: 0.5rem 1.5rem;
}

.sticky {
  position: sticky;
  background-color: #393e46;
  top: 0;
  z-index: 1;
}

/* Header Section */
#header-section {
  padding: 10% 3%;
}

/* About Me Section */
#about-me-section {
  padding: 3% 3%;
}

/* Projects */
#projects-section {
  padding: 1% 3%;
  color: #000;
}

#projects-section .container-fluid {
  padding: 3% 5%;
}

.card-icon {
  float: right;
}

/* Experience Section */
#experience-section {
  padding: 1% 3%
}

#experience-section .container-fluid {
  padding: 3% 10%;
}

/* Certifications Section */

/* Footer Section */
