*{ 
	margin: 0; padding: 0; 
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.3); 
}

.header{
	height: 900px;
	position: relative;
	top: -55px;
	width: 100%;
	background: url("../images/mountain_header.jpg") no-repeat center bottom;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Rock Salt', cursive;
	font-size: 80px;
	color: white;
}

.header-content {
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: 280px;
	width: 90%;
}

.main-content {
	background-color: rgb(13, 23, 83);
}

.space {
	height: 2000px;
}
