/* Standard Elements */
body {
  background-color: #393e46;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

.title {
  margin-bottom: 30px;
}

/* Background Colors */
.color-section {
  background-color: #00adb5;
  color: #fff;
}

.dark-section {
  background-color: #393e46;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: #000;
}

.navbar {
  padding: 0.5rem 1.5rem;
}

.sticky {
  /* Have two positions as sticky isn't stable in all browsers. */
  position: relative;
  position: sticky;
  background-color: #393e46;
  top: 0;
  z-index: 1;
}

/* Header Section */
#header-section {
  padding: 3% 5% 5%;
}

/* About Me Section */
#about-me-section {
  padding: 3% 5% 5%;
}

/* Projects */
#projects-section {
  padding: 3% 5% 5%;
}

#projects-section a {
  color: blueviolet;
}

.card-icon {
  float: right;
}

.project-card {
  color: #000;
}

/* Experience Section */
#experience-section {
  padding: 3% 5% 5%;
}

#experience-carousel {
  padding: 3% 10%;
}

/* Certifications Section */
#certifications-section {
  padding: 3% 5% 5%;
}

#certifications-section img {
  padding: 1% 1%;
}

/* Footer Section */
#footer-section {
  padding: 3% 5% 5%;
}

.footer-icons {
  text-align: center;
  width: 100%;
}

.footer-icon {
  padding: 2%;
}
